body {
    background-color: white;
  }

#open {
    width: 20px;
    float: left;
}

#star {
    width: 20px;
    float: left;
}

#user {
    width: 20px;
    float: left;
}

#cart {
    width: 20px;
    float: left;
}

#logo {
    width: 50%;
    float: none;
    margin: 10px;
}

.topNav {
    background-color: white;
    position:relative;
    position: absolute;
    float: left;
    margin: 10px;
}

.searchandmore {
    height: 50px;
    margin: 0 auto;
    float: left;
    list-style-type: none;
    
}

nav {
    background-color: #ADADAD;
    position:relative;
    height: 30px;
    position: relative;
    z-index:11;
}

nav ul {
    height: 50px;
    width: 600px;
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    margin-bottom: 10px;
    float: left;
    line-height: 30px;
    text-align: center;
}

li a {
    color: white;
    font-family:Sulphur Point;
    text-decoration: none;
    font-style:normal;
    font-weight:400;
    font-size:12px;
    letter-spacing:0.55px;
    line-height:30px;
    display: block;
}

li a:hover{
    background-color: beige;
    color: black;
}

.topBanner{
    display: inline;
}

.servicesButtons{
    display: inline-block;

}



